{% block login %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}


    <form action="{{ path('security_login') }}" method="post" class="w3-input w3-border" id="login-form">
        <p><input class="w3-input w3-border" type="text" placeholder="Name" name="_username" id="username" required></p>
        <p><input class="w3-input w3-border" type="password" placeholder="Password" name="_password" id="password" required></p>
        <button type="submit" class="w3-button w3-block w3-black" id="Login" name="Login">Login</button>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}">
    </form>

{% endblock %}
