{#{% extends 'base.html.twig' %}#}

{#{% block body %}#}
    {#{% if error %}#}
        {#<div class="alert alert-danger">#}
            {#{{ error.messageKey|trans(error.messageData, 'security') }}#}
        {#</div>#}
    {#{% endif %}#}

    {#<form action="{{ path('security_login') }}" method="post" class="w3-input w3-border">#}
        {#<div>#}
            {#<div class="w3-col s4">#}
                {#<label class="form-control-label required" for="username">Username</label>#}
                {#<input type="text" id="username" name="_username" required="required" class="w3-input w3-border">#}
            {#</div>#}
            {#<div class="w3-col s4">#}
                {#<label class="form-control-label required" for="password">Password</label>#}
                {#<input type="password" id="password" name="_password" required="required" class="w3-input w3-border">#}
            {#</div>#}
            {#<div class="w3-col s4">#}
                {#<button type="submit" id="Login" name="Login" class="btn-secondary btn">Login</button>#}
            {#</div>#}
            {#<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">#}
            {#<input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}">#}
        {#</div>#}
    {#</form>#}
{#{% endblock %}#}
{% extends "base.html.twig" %}
{% block body %}
<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body class="w3-content" style="max-width:1200px">

<!-- Top menu on small screens -->
<header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
    <div class="w3-bar-item w3-padding-24 w3-wide">LOGO</div>
    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-24 w3-right" onclick="w3_open()"><i class="fa fa-bars"></i></a>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main">

    <!-- Push down content on small screens -->
    <div class="w3-hide-large" style="margin-top:83px"></div>

    <!-- Top header -->


    <!-- Image header -->
    <div class="w3-display-container w3-container">
        <img src="/w3images/jeans.jpg" alt="Jeans" style="width:100%">
        <div class="w3-display-topleft w3-text-white" style="padding:24px 48px">
            <h1 class="w3-jumbo w3-hide-small">New arrivals</h1>
            <h1 class="w3-hide-large w3-hide-medium">New arrivals</h1>
            <h1 class="w3-hide-small">COLLECTION 2016</h1>
            <p><a href="#jeans" class="w3-button w3-black w3-padding-large w3-large">SHOP NOW</a></p>
        </div>
    </div>

    <div class="w3-container w3-text-grey" id="jeans">
        <p>8 items</p>
    </div>

    <!-- Product grid -->
    <div class="w3-row w3-grayscale">
        <div class="w3-col l3 s6">
            <div class="w3-container">
                <img src="/w3images/jeans1.jpg" style="width:100%">
                <p>Ripped Skinny Jeans<br><b>$24.99</b></p>
            </div>
            <div class="w3-container">
                <img src="/w3images/jeans2.jpg" style="width:100%">
                <p>Mega Ripped Jeans<br><b>$19.99</b></p>
            </div>
        </div>

        <div class="w3-col l3 s6">
            <div class="w3-container">
                <div class="w3-display-container">
                    <img src="/w3images/jeans2.jpg" style="width:100%">
                    <span class="w3-tag w3-display-topleft">New</span>
                    <div class="w3-display-middle w3-display-hover">
                        <button class="w3-button w3-black">Buy now <i class="fa fa-shopping-cart"></i></button>
                    </div>
                </div>
                <p>Mega Ripped Jeans<br><b>$19.99</b></p>
            </div>
            <div class="w3-container">
                <img src="/w3images/jeans3.jpg" style="width:100%">
                <p>Washed Skinny Jeans<br><b>$20.50</b></p>
            </div>
        </div>

        <div class="w3-col l3 s6">
            <div class="w3-container">
                <img src="/w3images/jeans3.jpg" style="width:100%">
                <p>Washed Skinny Jeans<br><b>$20.50</b></p>
            </div>
            <div class="w3-container">
                <div class="w3-display-container">
                    <img src="/w3images/jeans4.jpg" style="width:100%">
                    <span class="w3-tag w3-display-topleft">Sale</span>
                    <div class="w3-display-middle w3-display-hover">
                        <button class="w3-button w3-black">Buy now <i class="fa fa-shopping-cart"></i></button>
                    </div>
                </div>
                <p>Vintage Skinny Jeans<br><b class="w3-text-red">$14.99</b></p>
            </div>
        </div>

        <div class="w3-col l3 s6">
            <div class="w3-container">
                <img src="/w3images/jeans4.jpg" style="width:100%">
                <p>Vintage Skinny Jeans<br><b>$14.99</b></p>
            </div>
            <div class="w3-container">
                <img src="/w3images/jeans1.jpg" style="width:100%">
                <p>Ripped Skinny Jeans<br><b>$24.99</b></p>
            </div>
        </div>
    </div>
</div>



</body>
</html>
{% endblock %}