
<header class="w3-container w3-xlarge" id="header">
    <p class="w3-left">LOGO AICI</p>
    <div class="w3-right">
        <div class="w3-small">
            {{ include('security/login.html.twig') }}
        </div>
    </div>
</header>