{% extends "base.html.twig" %}

{% block list %}
    <div class="w3-main">

        <div class="w3-hide-large" style="margin-top:83px"></div>

        {% for product in products %}
        <div class="w3-col s6" id="linie">
                <div class="w3-container" id="container">
                    <a href="product/{{ product.id }}"><img src="{{ product.img }}" />
                    <p>{{ product.title[0:50] }}<b><p>Liciteaza!</p></b></p>
                    </a>
                </div>
        </div>
        {% endfor %}
    </div>
    <div id="clear-cache" style="clear:both"></div>

{% endblock %}